* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding-bottom: 20px;
  margin-top: 0px;
  background-color: black;
  min-height: 100vh;
}

.main-heading {
  background-color: purple;
  width: 100%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-heading h1 {
  margin: 0;
  font-size: 28px;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
  margin-bottom: 15px;
}
.input-ele {
  width: 280px;
  margin-right: 15px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  border-width: 1px;
  background-color: black;
  color: aliceblue;
  border-color: white;
}
.inside-para {
  width: 100%;
  color: purple;
  text-align: center;
  font-size: 1.7em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video {
  width: 80%;
  margin: 10px;
}
